* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  padding: 0 3rem;
}

a {
  text-decoration: none;
}

input[type="text"]:focus,
select {
  outline: none;
}
